<h2>{{ isEdit ? "Edit" : "Add" }} Product</h2>

<form (ngSubmit)="save()">
  <label>Name:</label>
  <input [(ngModel)]="product.name" name="name" required /><br />

  <label>Description:</label>
  <input [(ngModel)]="product.description" name="description" required /><br />

  <label>Price:</label>
  <input
    [(ngModel)]="product.price"
    name="price"
    type="number"
    required
  /><br />

  <label>Quantity:</label>
  <input
    [(ngModel)]="product.quantity"
    name="quantity"
    type="number"
    required
  /><br />

  <button type="submit">💾 Save</button>
</form>
