.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.row {
  display: table-row;
}

.row div {
  display: table-cell;
  padding: 10px;
  border: 1px solid #ccc;
}

.header {
  font-weight: bold;
  background: #f3f3f3;
}
