<form (ngSubmit)="submit()">
  <input
    type="text"
    [(ngModel)]="name"
    name="name"
    placeholder="Product Name"
    required
  />
  <input
    type="text"
    [(ngModel)]="category"
    name="category"
    placeholder="Category"
    required
  />
  <input
    type="number"
    [(ngModel)]="price"
    name="price"
    placeholder="Price"
    required
  />
  <input
    type="number"
    [(ngModel)]="qty"
    name="qty"
    placeholder="Quantity"
    required
  />
  <!-- 👈 Added -->
  <button type="submit">Add Product</button>
</form>
