<form (ngSubmit)="submit()" style="padding: 16px">
  <div>
    <label for="name">Name:</label>
    <input id="name" name="name" [(ngModel)]="name" type="text" required />
  </div>

  <div>
    <label for="category">Category:</label>
    <input
      id="category"
      name="category"
      [(ngModel)]="category"
      type="text"
      required
    />
  </div>

  <div>
    <label for="price">Price:</label>
    <input id="price" name="price" [(ngModel)]="price" type="number" required />
  </div>

  <button type="submit">Submit</button>
</form>
