<h2>Product List</h2>

<button *ngIf="role === 'ADMIN'" (click)="goToEdit()">➕ Add Product</button>

<table border="1" width="100%">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let p of products">
    <td>{{ p.id }}</td>
    <td>{{ p.name }}</td>
    <td>{{ p.description }}</td>
    <td>{{ p.price }}</td>
    <td>{{ p.quantity }}</td>
    <td>
      <!-- ADMIN actions -->
      <button *ngIf="role === 'ADMIN'" (click)="goToEdit(p.id)">✏ Edit</button>
      <button *ngIf="role === 'ADMIN'" (click)="delete(p.id!)">🗑 Delete</button>

      <!-- CUSTOMER action -->
      <button *ngIf="role === 'CUSTOMER'" (click)="reserve(p.id!)">
        Reserve
      </button>
    </td>
  </tr>
</table>
